<!DOCTYPE html>
<html>
    <%- include('../layout/head') %>

<body>
  <%- include('../layout/header') %>

  <main>
    <h1>Your Books</h1>
    <p>Number of books you have saved <%= numberOfBooksSaved %></p>

    <ul>
      <% savedBooksFromDatabase.forEach(book => { %>
        <li id="<%= book.id %>">
          <%- include('books/detail', {book: book}) %>
          <a href="/book-details/<%= book.id %>">View Details</a>
        </li>
      <% }) %>
    </ul>
  </main>

</body>

</html>